.text-button {
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  margin: 4px;
  transition: background 0.2s;

  &.red {
    background: #881a3a;
    &:hover,
    &:active {
      background: #af234a;
    }
  }

  &.blue {
    background: #1a5088;
    &:hover,
    &:active {
      background: #2872c2;
    }
  }

  &.green {
    background: #27ae60;
    &:hover,
    &:active {
      background: #2ecc71;
    }
  }
  &.purple {
    background: #6a0dad;
    &:hover,
    &:active {
      background: #7a1fbd;
    }
  }
}
